<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Greetings</title>
</head>
<body>
    <h1>Hello, dear friend!</h1>
    <h3>Here is the route list for a simple calculator:</h3>
    <h3>
        <ul>
           <li>- /calc/int/int/div - to divide two numbers</li>
           <li>- /calc/int/int/mult - to multiply two numbers</li>
           <li>- /calc/int/int/dif - to subtract two numbers</li>
           <li>- /calc/int/int/div - to add two numbers</li>
        </ul>
    </h3>
    <h3>You just need to change /int/int to required numbers</h3>
</body>
</html>
