<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ car.slug }}</title>
</head>
<body>
    <h5>ID - {{ car.id }}</h5>
    <h5>Model - {{ car.car_model }}</h5>
    <h5>Engine type - {{ car.engine_type }}</h5>
    <h5>Engine power (Hp) - {{ car.engine_power }}</h5>
    <h5>Pollutant class - {{ car.pollutant_class }}</h5>
    <h5>Doors - {{ car.doors }}</h5>
    <h5>Seats - {{ car.sitting_place }}</h5>
    <h5>Gear case - {{ car.gear_case }}</h5>
    <h5>Category - {{ car.category }}</h5>
    <h5>Fuel type - {{ car.fuel_type }}</h5>
    <h5>Price - ${{ car.price }}</h5>
    <h5>Dealer - {{ car.dealer }}</h5>
</body>
</html>